<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Токийский дрифт лейблз</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nestd-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignments">
                <span class="bi bi-list-nestd-nav-menu" aria-hidden="true"></span> Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-list-nestd-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="executors">
                <span class="bi bi-list-nestd-nav-menu" aria-hidden="true"></span> Executors
            </NavLink>
        </div>
    </nav>
</div>

